{% extends "theme.html" %}

{% block content %}

<div class="row">
    <table class="responsive-table single-day-scheduler col s6" style="height: 100%;">
        <thead>
            <tr>
                <th></th>
                <th class="sch_header">Sun</th>
                <th class="sch_header">Mon</th>
                <th class="sch_header">Tue</th>
                <th class="sch_header">Wed</th>
                <th class="sch_header">Thu</th>
                <th class="sch_header">Fri</th>
                <th class="sch_header">Sat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11:30am</td>
                <td>
                    <div class="appt_card">booked</appt_card>
                </td>
            </tr>
                
            <tr>
                <td>12:00pm</td>
            </tr>
            <tr>
                <td>12:30pm</td>
                <td rowspan="3">
                    <div class="appt_card">booked</appt_card>
                </td>
            </tr>
            <tr>
                <td>01:00pm</td></tr>
            <tr>
                <td>01:30pm</td></tr>
            <tr>
                <td>02:00pm</td></tr>
            <tr>
                <td>02:30pm</td></tr>
            <tr>
                <td>01:00pm</td></tr>
            <tr>
                <td>02:30pm</td></tr>
            <tr>
                <td>03:00pm</td></tr>
            <tr>
                <td>03:30pm</td></tr>
            <tr>
                <td>04:00pm</td></tr>
            <tr>
                <td>04:30pm</td></tr>
            <tr>
                <td>05:00pm</td></tr>
            <tr>
                <td>05:30pm</td></tr>
            <tr>
                <td>06:00pm</td></tr>
            <tr>
                <td>06:30pm</td></tr>
        </tbody>
    </table>
</div>

    
{% endblock %}